h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.Banner {
    text-align: center; 
    width: 1300px; height: auto;
}
h1 {
    color: #3EB2D5;
}
h2 {
    color: #FEE274;
}

.Parque {
    text-align: center;
    width: auto;  height: 300px;
}
.logo {
    text-align: center;
}
.parque2 {
    text-align: center;
}
h3 {
    text-align: center;
}