h1 {
    text-align: center;
}
h1 {
    color: #0084ff;
}
nav {
    text-align: center;
}
h2 {
    color: #000000;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
li {
    text-align: center;
}
li {
    align-items: center;
}